
\.idea/

*.pyc

dataset/COCO/images

exps/RSN18\.coco/log

model_logs/manu/RSN18\.coco/tb_dir/

model_logs/manu/RSN18\.coco/log\.txt

lib/COCOAPI/

dataset/COCO/gt_json/train_val_minus_minival_2014\.json

dataset/COCO/gt_json/minival_2014\.json

dataset/COCO/det_json/minival_2014_det\.json
